<!DOCTYPE html>
<html>
  <head>
    <title>Greader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table id="gr-main">
      <tr>
        <table id="gr-header">
          <tr>
            <th>GReader</th>
          </tr>
        </table>
      </tr>

      <tr>
        <%= yield %>
      </tr>
    </table>
  </body>
</html>
